name: Node.js Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 12
      - run: yarn install --frozen-lockfile

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: "@thg-customerzen"
      - run: |
          sed -i "3s/.*/  \"version\": \"${{ github.ref_name }}\",/" package.json
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
      - run: yarn install --frozen-lockfile
      - run: yarn build:lib
      - run: cd dist-lib && echo -e "@thg-customerzen:registry=https://npm.pkg.github.com/\\n//npm.pkg.github.com/:_authToken=${{ secrets.PAT_TOKEN }}" >> .yarnrc && yarn publish --registry=https://npm.pkg.github.com/
